.nav-link {
  margin-left: 20px;
}

.footer-link {
  text-decoration: none;
  margin-top: 3px;
}

#supportHero {
  background-color: rgb(56, 126, 209);
  color: white;
}

#supportHero a {
  color: white;
}
#supportWrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}

#supportHero input {
  padding: 2.5%;
  width: 100%;
  font-size: 1.05rem;
  border: none;
  border-radius: 0.4rem;
}

.sign {
  text-decoration: none;
  color: black;
}

.menu {
  color: black;
  font-size: large;
  padding: 0.5rem;
}

.selected {
  color: rgb(35, 29, 41);
  font-weight: 600;
  border-bottom: 3px solid rgb(19, 125, 224);
}
